<%include header%>
<body>
    <div class="main">
        <header class="header">
            <div class="container">
                <div class="col-12">
                    <div class="col-4 mb-11 logo-set">
                        <div class="logo"><img src="image/aware.png" height="50" width="210" /></div>

                    </div>

                    <nav class="mob-menu-icon mb-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </nav>


                    <nav class="col-8 menu mob-menu pull-right">

                        <nav class="mob-menu-icon"
                            style="padding: 26px 26px;width: 100%;box-sizing: border-box;border-bottom:2px solid #1565C0; ">

                            <span class="icon-bar slide-icon-menu-color"></span>
                            <span class="icon-bar slide-icon-menu-color"></span>
                            <span class="icon-bar slide-icon-menu-color"></span>

                        </nav>
                        <!-- <div class="menu-item-box center "><a href="#" class="menu_link">Home</a>

                            <div class="sub_cata" style="height: 200px;position: absolute;z-index: 99999;background-color: #000;margin-top: 29px;">
                                Test sub cata
                            
                            </div>

                        </div>-->
                        <div class="menu-item-box center "><a href="#home" class="menu-link">Home</a></div>
                        <div class="menu-item-box center "><a href="#" class="menu-link">Certificates</a></div>
                        <div class="menu-item-box center "><a href="#services" class="menu-link">Services</a></div>
                        <div class="menu-item-box center "><a href="#team" class="menu-link">Team</a></div>
                        <div class="menu-item-box center "><a href="#contact" class="menu-link">Contact</a></div>
                        <div class="menu-item-box center "><a href="/" >LogOut</a></div>
                    </nav>
                    
                </div>
            </div>
        </header>
        <section class="multiple-template section-padding color-light-white" id="portfolio">
            <div class="container">
                <div class="main-title font-color-s-light">Our Courses</div>
                <p class="main-content">Earn a certificate for every learning program that you complete at no additional
                    cost </p>



                <div class="col-4" style="padding:5px;">
                    <div style="height:235px;border:1px solid #f5f5f5;border-radius:3px;box-sizing:border-box">
                        <div class="template-header"
                            style="padding: 10px 0px;background-color: rgb(255, 255, 255);border-bottom: 1px solid rgb(222, 222, 222)">
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:10px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <div style="clear:both"></div>
                        </div>

                        <div class="temp-data-box"
                            style="height:210px;background-color:#fff;position:relative;overflow:hidden; background-image:url(image/python.jpg);background-position:center 0px;background-size:cover;">

                            <!--<img src="image/temp1.jpg" style="width:100%;" />-->
                            <div class="temp-data-box-overlay"
                                style="position:absolute;top:0px;left:0px;background-color:rgba(0, 0, 0, 0.5);width:100%;height:100%;text-align:center;">
                                <span style="width:1px;height:100%;display:inline-block;vertical-align:middle;"></span>
                                <a href="#"><span class="button-2   ">
                                        View Courses
                                    </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4" style="padding:5px;">
                    <div style="height:235px;border:1px solid #f5f5f5;border-radius:3px;box-sizing:border-box">
                        <div class="template-header"
                            style="padding: 10px 0px;background-color: rgb(255, 255, 255);border-bottom: 1px solid rgb(222, 222, 222)">
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:10px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <div style="clear:both"></div>
                        </div>

                        <div class="temp-data-box"
                            style="height:210px;background-color:#fff;position:relative;overflow:hidden; background-image:url(image/html.png);background-position:center 0px;background-size:cover;">

                            <!--    <img src="image/temp1.jpg" style="width:100%;" />-->
                            <div class="temp-data-box-overlay"
                                style="position:absolute;top:0px;left:0px;background-color:rgba(0, 0, 0, 0.5);width:100%;height:100%;text-align:center;">
                                <span style="width:1px;height:100%;display:inline-block;vertical-align:middle;"></span>
                                <a href="#"><span class="button-2   ">
                                        View Courses
                                    </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4" style="padding:5px;">
                    <div style="height:235px;border:1px solid #f5f5f5;border-radius:3px;box-sizing:border-box">
                        <div class="template-header"
                            style="padding: 10px 0px;background-color: rgb(255, 255, 255);border-bottom: 1px solid rgb(222, 222, 222)">
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:10px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <div style="clear:both"></div>
                        </div>

                        <div class="temp-data-box"
                            style="height:210px;background-color:#fff;position:relative;overflow:hidden; background-image:url(image/javascript.png);background-position:center 0px;background-size:cover;">

                            <!--<img src="image/temp1.jpg" style="width:100%;" />-->
                            <div class="temp-data-box-overlay"
                                style="position:absolute;top:0px;left:0px;background-color:rgba(0, 0, 0, 0.5);width:100%;height:100%;text-align:center;">
                                <span style="width:1px;height:100%;display:inline-block;vertical-align:middle;"></span>
                                <a href="#"><span class="button-2   ">
                                        View Courses
                                    </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4" style="padding:5px;">
                    <div style="height:235px;border:1px solid #f5f5f5;border-radius:3px;box-sizing:border-box">
                        <div class="template-header"
                            style="padding: 10px 0px;background-color: rgb(255, 255, 255);border-bottom: 1px solid rgb(222, 222, 222)">
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:10px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <div style="clear:both"></div>
                        </div>

                        <div class="temp-data-box"
                            style="height:210px;background-color:#fff;position:relative;overflow:hidden; background-image:url(image/css.jpg);background-position:center 0px;background-size:cover;">

                            <!--<img src="image/temp1.jpg" style="width:100%;" />-->
                            <div class="temp-data-box-overlay"
                                style="position:absolute;top:0px;left:0px;background-color:rgba(0, 0, 0, 0.5);width:100%;height:100%;text-align:center;">
                                <span style="width:1px;height:100%;display:inline-block;vertical-align:middle;"></span>
                                <a href="#"><span class="button-2   ">
                                        View Courses
                                    </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4" style="padding:5px;">
                    <div style="height:235px;border:1px solid #f5f5f5;border-radius:3px;box-sizing:border-box">
                        <div class="template-header"
                            style="padding: 10px 0px;background-color: rgb(255, 255, 255);border-bottom: 1px solid rgb(222, 222, 222)">
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:10px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <div style="clear:both"></div>
                        </div>

                        <div class="temp-data-box"
                            style="height:210px;background-color:#fff;position:relative;overflow:hidden; background-image:url(image/c++.jpg);background-position:center 0px;background-size:cover;">

                            <!--<img src="image/temp1.jpg" style="width:100%;" />-->
                            <div class="temp-data-box-overlay"
                                style="position:absolute;top:0px;left:0px;background-color:rgba(0, 0, 0, 0.5);width:100%;height:100%;text-align:center;">
                                <span style="width:1px;height:100%;display:inline-block;vertical-align:middle;"></span>
                                <a href="#"><span class="button-2   ">
                                        View Courses
                                    </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4" style="padding:5px;">
                    <div style="height:235px;border:1px solid #f5f5f5;border-radius:3px;box-sizing:border-box">
                        <div class="template-header"
                            style="padding: 10px 0px;background-color: rgb(255, 255, 255);border-bottom: 1px solid rgb(222, 222, 222)">
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:10px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <span
                                style="height: 5px;width: 5px;background-color: #929292;display: block;border-radius: 15px;float:left;margin-left:3px;"></span>
                            <div style="clear:both"></div>
                        </div>

                        <div class="temp-data-box"
                            style="height:210px;background-color:#fff;position:relative;overflow:hidden; background-image:url(image/java.png);background-position:center 0px;background-size:cover;">

                            <!--<img src="image/temp1.jpg" style="width:100%;" />-->
                            <div class="temp-data-box-overlay"
                                style="position:absolute;top:0px;left:0px;background-color:rgba(0, 0, 0, 0.5);width:100%;height:100%;text-align:center;">
                                <span style="width:1px;height:100%;display:inline-block;vertical-align:middle;"></span>
                                <a href="#"><span class="button-2   ">
                                        View Courses
                                    </span></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </section>
        <b>Welcome User : <%= sunm %></b>
<%include footer%>